# Multi-Resolution Panos
# Skin with Default Buttons
# Documentation: http://krpano.com/tools/kmakemultires/config?version=119
# krpano 1.19


# basic settings

# image filtering and compression settings
filter=LANCZOS
jpegquality=82
jpegsubsamp=422
jpegoptimize=true


# color profile handling: skip, copy, convert or sRGB
profile=convert


# load gps exif information from the input files and transfer them to the xml
parsegps=true


# parse the input files for orientation / leveling information and either 
# directly remap the images or add a prealign setting in the xml to level them
autolevel=remap


# sort the input files alphabetically
sortinput=true


# protection settings (nomb = no Flashplayer menubar for standalone swf)
kprotectclparameters=-nomb

panotype=autodetect
hfov=360


# output
flash=false
html5=false


# convert spherical/cylindrical to cubical
converttocube=true
converttocubelimit=360x45


# multiresolution settings
multires=true
tilesize=512
levels=auto
levelstep=2
maxsize=auto
maxcubesize=auto



# output images path
tilepath=%INPUTPATH%/%BASENAME%/%BASENAME%.tiles/[c/]l%Al/%Av/l%Al[_c]_%Av_%Ah.jpg


# preview pano settings
preview=true
graypreview=false
previewsmooth=25
previewpath=%INPUTPATH%/%BASENAME%/%BASENAME%.tiles/preview.jpg


# generate smaller mobile images
#customimage[mobile].size=1024
#customimage[mobile].path=%INPUTPATH%/%BASENAME%/%BASENAME%.tiles/mobile_%s.jpg
#customimage[mobile].imagesettings=jpegquality=85 jpegsubsamp=444 jpegoptimize=true
#customimage[mobile].xml=<mobile>[NL][TAB]<cube url="[PATH]" />[NL]</mobile>


# xml output
xml=false
# xmlpath=%INPUTPATH%/%BASENAME%/pano.xml


# skin / xml template
#include defaultbuttons.skin


# html output/template
html=false
# htmlpath=%INPUTPATH%/%BASENAME%/index.html
htmltemplate=
htmltemplate_html5=


# compression settings (note - disable jpegoptimize for extreme big panos because this could cause high much memory usage during building)
jpegquality=82
jpegsubsamp=422
jpegoptimize=false


# include testing servers
# htmltemplate_additional_file=html/tour_testingserver.exe
# htmltemplate_additional_file=html/tour_testingserver_macos+x
