body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

* {
    -webkit-tap-highlight-color: transparent;
    margin: 0px;
}

#cc {
    background: orange;
    position: relative;
    width: 100%;
    height: 100%;
}

.btn-group {
    width: 100%;
    height: 2rem;
    display: inline-block;
    position: absolute;
    z-index: 1000;
    bottom: 5rem;
}

.vrMode {
    position: absolute;
    bottom: 5rem;
}